<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=1024">
    <title>GWCC - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="bootstrap-overrides-nav">
        <div class="container row">
            <div id="navbar-content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="/" id="navbar-header"><img id="GGWCLogo" class="small" src="~/Content/img/Grey Ward Logo Cropped.PNG" alt="Grey Ward Children's Centre" /><span><header>Grey Ward Children's Centre</header>253 Wright Street Adelaide SA 5000 - 08 8231 9195</span></a><a href="https://www.communitychildrencentres.com.au/" target="_blank"><img id="CCCLogo" class="small" src="~/Content/img/communitychildrenscentres_L.png" alt="Community Childrens Centre" /></a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                @Html.ActionLink("Home", "Index", "Home")
                                <div class="dropdown-content">
                                    @Html.ActionLink("Our Philosophy and Goals", "About", "Home")
                                    @Html.ActionLink("Our History", "History", "Home")
                                    @Html.ActionLink("Our Team", "Team", "Home")
                                    @Html.ActionLink("Governance", "Governance", "Home")
                                </div>
                            </li>
                            <li class="dropdown">
                                @Html.ActionLink("Parents and Caregivers", "ParentsInfo", "Parents")
                                <div class="dropdown-content">
                                    <a href="https://www.humanservices.gov.au/individuals/services/centrelink/child-care-subsidy" target="_blank">Child Care Subsidy</a>
                                    @Html.ActionLink("Frequently Asked Questions", "FAQ", "Parents")
                                    @Html.ActionLink("Forms", "ParentsInfo", "Parents")
                                    @Html.ActionLink("Useful Links", "UsefulLinks", "Parents")
                                    @Html.ActionLink("Testimonials", "Testimonials", "Parents")
                                </div>
                            </li>
                            <li class="dropdown">
                                @Html.ActionLink("Rooms", "Babies", "Rooms")
                                <div class="dropdown-content">
                                    @Html.ActionLink("Babies", "Babies", "Rooms")
                                    @Html.ActionLink("Nursery", "Nursery", "Rooms")
                                    @Html.ActionLink("Junior Kindy", "JuniorKindy", "Rooms")
                                    @Html.ActionLink("Kindergarten", "Kindergarten", "Rooms")
                                </div>
                            </li>
                            <li class="dropdown">
                                @Html.ActionLink("Contact Us", "ContactUs", "ContactUs")
                                <div class="dropdown-content">
                                    <a href="mailto:debbie.mclean480@schools.sa.edu.au" target="_top">Director email</a>
                                    <a href="mailto:Lisa.Hall277@schools.sa.edu.au" target="_top">Admin email</a>
                                    @Html.ActionLink("Link to Map", "ContactUs", "ContactUs")
                                    <a href="https://www.facebook.com/Grey-Ward-Childrens-Centre-293211371530183/" target="_blank">Facebook</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <footer>
        <div class="row">
            <div id="footer-content">
                    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-12">
                        <span>@Html.ActionLink("Home", "Index", "Home")</span>
                        <ul>
                            <li>
                                @Html.ActionLink("Our Philosophy and Goals", "About", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Our History", "History", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Our Team", "Team", "Home")
                            </li>
                            <li> @Html.ActionLink("Governance", "Governance", "Home")</li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-12">
                        <span>@Html.ActionLink("Parents and Caregivers", "ParentsInfo", "Parents")</span>
                        <ul>
                            <li><a href="https://www.humanservices.gov.au/individuals/services/centrelink/child-care-subsidy" target="_blank">Child Care Subsidy</a></li>
                            <li>@Html.ActionLink("Frequently Asked Questions", "FAQ", "Parents")</li>
                            <li>@Html.ActionLink("Forms", "ParentsInfo", "Parents")</li>
                            <li>@Html.ActionLink("Useful Links", "UsefulLinks", "Parents")</li>
                            <li>@Html.ActionLink("Testimonials", "Testimonials", "Parents")</li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-12">
                        <span>@Html.ActionLink("Rooms", "Babies", "Rooms")</span>
                        <ul>
                            <li>
                                @Html.ActionLink("Babies", "Babies", "Rooms")
                            </li>
                            <li>
                                @Html.ActionLink("Nursery", "Nursery", "Rooms")
                            </li>
                            <li>
                                @Html.ActionLink("Junior Kindy", "JuniorKindy", "Rooms")
                            </li>
                            <li>@Html.ActionLink("Kindergarten", "Kindergarten", "Rooms")</li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-12">
                        <span>@Html.ActionLink("Contact Us", "ContactUs", "ContactUs")</span>
                        <ul>
                            <li>
                                <a href="mailto:debbie.mclean480@schools.sa.edu.au" target="_top">Director email</a>
                            </li>
                            <li><a href="mailto:Lisa.Hall277@schools.sa.edu.au" target="_top">Admin email</a></li>
                            <li>@Html.ActionLink("Link to Map", "ContactUs", "ContactUs")</li>
                            <li><a href="https://www.facebook.com/Grey-Ward-Childrens-Centre-293211371530183/" target="_blank">Facebook</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-12" id="ExceedingLogo">
                        <a href="https://www.acecqa.gov.au/" target="_blank"><img src="~/Content/img/ExceedingLogo.jpg"/></a>
                    </div>
                </div>
        </div>
    </footer>
</body>
</html>
